--
-- PostgreSQL database dump
--

\restrict ALHdyWac8bGDWtBK9Lu3688ensIij9XPfiL14SZL6j3suGswVJUcsjgmWdJS03O

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: notes; Type: TABLE; Schema: public; Owner: devnotes
--

CREATE TABLE public.notes (
    id integer NOT NULL,
    title text NOT NULL,
    content text,
    tags text[],
    pinned boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.notes OWNER TO devnotes;

--
-- Name: notes_id_seq; Type: SEQUENCE; Schema: public; Owner: devnotes
--

CREATE SEQUENCE public.notes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notes_id_seq OWNER TO devnotes;

--
-- Name: notes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devnotes
--

ALTER SEQUENCE public.notes_id_seq OWNED BY public.notes.id;


--
-- Name: notes id; Type: DEFAULT; Schema: public; Owner: devnotes
--

ALTER TABLE ONLY public.notes ALTER COLUMN id SET DEFAULT nextval('public.notes_id_seq'::regclass);


--
-- Data for Name: notes; Type: TABLE DATA; Schema: public; Owner: devnotes
--

COPY public.notes (id, title, content, tags, pinned, created_at, updated_at) FROM stdin;
1	Test Note	Hello from API!	{work}	f	2026-06-23 00:14:03.692492	2026-06-23 00:14:03.692492
2	Hello	Hello from api	{}	f	2026-06-23 16:22:36.05047	2026-06-23 16:22:36.05047
\.


--
-- Name: notes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devnotes
--

SELECT pg_catalog.setval('public.notes_id_seq', 2, true);


--
-- Name: notes notes_pkey; Type: CONSTRAINT; Schema: public; Owner: devnotes
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT notes_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict ALHdyWac8bGDWtBK9Lu3688ensIij9XPfiL14SZL6j3suGswVJUcsjgmWdJS03O

